@using EFood_Client.Utils
@using EFood_Client.Controllers
@{
    ViewBag.AppName = "EFood";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewBag.AppName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">EFood</div>
        </div>
        <div class="navbar-collapse collapse">
            @if (Transaction.GetTransaction() != string.Empty)
            {
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Cancelar Pedidos", "CancelOrder", "Shoping")</li>
                </ul>
            }
            @if (Shopping.GetNumOfPurchases() != 0)
            {
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Carrito", "ShoppingList", "Shoping")</li>
                </ul>
            }
        </div>
    </div>
</div>
<div class="container body-content" style="margin-top: 50px">
    <br/>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - @ViewBag.AppName</p>
        <div class="container">
            <div class="pull-right">
                @Html.Partial("_TranslatorPartial")
            </div>
        </div>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/efood")
@RenderSection("scripts", required: false)
</body>
</html>