@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    En esta pantalla no se retorna nada al backend, las unicas acciones son aceptar o volver. 
 -->

<h2>Opci&oacute;n de pago: Efectivo</h2>
<label for="Subtotal">Subtotal: @ViewBag.Subtotal</label>
<label for="Discount">Descuento: @ViewBag.Descuento</label>
<label for="Total">Total: @ViewBag.Total</label>
@Html.ActionLink("CHEQUE", "PayPage", null, new { @class = "primary-btn" })
@Html.ActionLink("Volver", "ProductList", null, new { @class = "primary-btn" })
