@{
    ViewBag.Title = "Detalle Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.ValidationSummary("", new { @class = "ErrorMessage" })
    <br/>
    <label>Producto: <strong>@ViewBag.VBProduct.Description</strong></label>
    <br/>
    <label>Contenido: @ViewBag.VBProduct.Content</label>
    <br/>
    @using (Html.BeginForm("Product", "Shoping", 
        new {name = @ViewBag.VBProduct.Description}, FormMethod.Post))
    {
        <label>Precios:</label>
        @Html.DropDownList("type", new SelectList(ViewBag.VBPrices, "PkCode", "Data"))
        <br/>
        <label>Cantidad: </label>
        <input type="number" required="required" placeholder="Cantidad" max="50" min="1" name="amount"/>
        <br/>
        <input type="submit" value="Comprar" class="primary-btn"/>
    }
    @Html.ActionLink(" Volver", "ProductList")
</div>