@using EFood_Client.UtilsMethdos
@model IEnumerable<EFoodBLL.ClientModels.ShoppingCart>

@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = 0;
}

<h2>Carrito</h2>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            Eliminar
        </th>
    </tr>
    @foreach (var item in Shopping.ShowPurchases())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Eliminar", "DeleteProductShopping", new {id = id})
            </td>
        </tr>
        id++;
    }
</table>



