@model EFoodBLL.ClientModels.Client

@{
    ViewBag.Title = "Registro Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informaci&oacute;n Cliente </h2>

@using (Html.BeginForm("ClientRegister", "Client", null, FormMethod.Post, new { @class = "form-horizontal mb-2", role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "ErrorMessage" })
    <div class="form-group">
        <label>@Html.DisplayNameFor(item => item.Name)<i class="fa fa-lock"></i></label>
        @Html.TextBoxFor(item => item.Name, new { @class = "form-control", @placeholder = "Nombre" })
    </div>

    <div class="form-group">
        <label>@Html.DisplayNameFor(item => item.Surname)<i class="fa fa-lock"></i></label>
        @Html.TextBoxFor(item => item.Surname, new { @class = "form-control", @placeholder = "Apellidos" })
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(item => item.Phone)<i class="fa fa-lock"></i></label>
        @Html.TextBoxFor(item => item.Phone, new { @class = "form-control", @placeholder = "Telefono" })
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(item => item.Direction)<i class="fa fa-lock"></i></label>
        @Html.TextBoxFor(item => item.Direction, new { @class = "form-control", @placeholder = "Dirección" })
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(item => item.Discount)<i class="fa fa-lock"></i></label>
        @Html.TextBoxFor(item => item.Discount, new { @class = "form-control", @placeholder = "Tiquete de Descuento" })
    </div>
    <div class="form-group">
        @Html.ActionLink("Volver", "ProductList", "Shoping", new { @class = "btn btn-link btn-large" })
        <button type="submit" class="btn btn-default">Siguiente</button>
    </div>
}
