@using EFoodBLL.IntranetModels
@model EFoodBLL.IntranetModels.ReturnConsecutive

@{
    ViewBag.Title = "Edicion de consecutivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home">
    <div class="container">
        <div class="omb_login">
            <br />
            @using (Html.BeginForm("ConsecutiveEdit", "Administration", null, FormMethod.Post, new { role = "form", @class = "center3" }))
            {
                <h4 style="color: orangered;">Informacion de consecutivo</h4>
                @Html.ValidationSummary("", new { @class = "ErrorMessage" })@*Validation Cheked*@
                @Html.TextBoxFor(item => item.PkCode, new { @type = "hidden", @readonly = "readonly" })
                <br /><br />
                <label>@Html.DisplayNameFor(item => item.Type)</label><br />
                @Html.TextBoxFor(item => item.Type, new { id = "fname", placeholder = "Type", maxlength = 6, @readonly = "readonly" })
                <br /><br />
                <label>@Html.DisplayNameFor(item => item.IdConsecutive)</label><br />
                @Html.TextBoxFor(item => item.IdConsecutive, new { id = "fname", placeholder = "IdConsecutive", maxlength = 50, @readonly = "readonly" })
                <br /><br />
                <label>@Html.DisplayNameFor(item => item.HasPrefix)</label><br />
                @Html.DisplayFor(item => item.HasPrefix)
                <br /><br />
                <label>@Html.DisplayNameFor(item => item.Prefix)</label>
                @Html.TextBoxFor(item => item.Prefix, new { id = "fname", placeholder = "Introduzca Prefijo", maxlength = 12 })
                <br /><br />
                <input type="submit" class="primary-btn" value="Guardar" />
                @Html.ActionLink("Volver", "ConsecutiveList")
            }
        </div>
    </div>
</div>

@*
    <div id="home">
        <!-- container -->


        <div class="container">


            </br>
            <form class="center3">
                <div class="row omb_row-sm-offset-3 omb_socialButtons">
                </div>
                <h4 style="color: orangered;">Informaci?n de consecutivo</h4>
                </br>
                </br>

                <form>
                    <label for="Descripcion">Descripci?n:</label>
                    <select name="Descripcion" id="Descripcion">
                        <optgroup label="Tipo">
                            <option value="Activo">Linea de comidas</option>
                            <option value="Inactivo">Linea de bebidas</option>
                            <option value="Inactivo">Linea de combos</option>
                        </optgroup>
                    </select>

                    <br>
                    <label for="fname">Consecutivo:</label>
                    <input type="text" id="fname" name="fname"><br>

                    <div>
                        <div class="col-xs-12 col-sm-3">
                            <label class="checkbox">
                                <input type="checkbox" value="remember-me">Posee prefiijo
                            </label>
                        </div>
                    </div>

                    <br><br><br>
                    <label for="PrefijoInt">Introduzca Prefijo:</label>
                    <input type="text" id="fname" name="fname"><br>
                    <br>
                    <input type="button" onclick="location.href='Consecutivos.html';" value="Aceptar"> </input>
                    <input type="submit" value="cancelar"> </input>

                </form>
        </div>


        <!-- /container -->
    </div>
*@