@model IEnumerable<EFoodBLL.IntranetModels.LineTypeList>

@{
    ViewBag.Title = "Lista de Tipo de Comida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="home">
        <div class="container">
            <div class="omb_login">
                <h4 class="omb_authTitle" style="color: orangered;overflow-x:auto;">Lista de Tipo de Comida:</h4>
                @Html.ActionLink("Crear Tipo de Comida", "LineTypeCreate", "Administration", null, new { @class = "primary-btn" })
                <br />
                <br />
                @Html.ValidationSummary("", new { @class = "ErrorMessage" })@*Validation Cheked*@
                <table class="table table-hover">
                    <tr>
                        <th>
                            <label>@Html.DisplayNameFor(model => model.Code)</label>
</th>
                        <th>
                            <label>@Html.DisplayNameFor(model => model.Type)</label>
</th>
                        <th>Opciones</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PkCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "LineTypeEdit", new { id = item.PkCode }, null) |
                                @Html.ActionLink("Delete", "LineTypeDeleteConfirmed", new { id = item.PkCode })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
