@model IEnumerable<EFoodBLL.IntranetModels.ProductPriceList>
@using EFood_Intranet.Controllers

@{
    ViewBag.Title = "Lista Precio Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (AppAccount.GetLogin() == null)
{
    <div id="home">
        <div class="container">
            <h4 style="color: orangered;">NO HAS INICIADO SESION</h4>
        </div>
    </div>
}
else
{

    if (AppAccount.HasAdministrationRole() || AppAccount.HasMaintenanceRole())
    {
        <div id="home">
            <div class="container">
                <div class="omb_login">
                    <h4 class="omb_authTitle" style="color: orangered;overflow-x:auto;">Lista de Precios de Producto:</h4>
                    @Html.ActionLink("Crear Precio", "PriceProductCreate", "Administration", new {product = ViewBag.VBProduct}, new { @class = "primary-btn" })
                    <br />
                    <br />
                    @Html.ValidationSummary("", new { @class = "ErrorMessage" })
                    <table class="table table-hover">
                        <tr>
                            <th>
                                <label>@Html.DisplayNameFor(item => item.Type)</label><br />
                            </th>
                            <th>
                                <label>@Html.DisplayNameFor(item => item.Amount)</label><br />
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "PriceProductEdit", "Administration", new { id = item.PkCode }, null) |
                                    @Html.ActionLink("Delete", "PriceProductDelete", "Administration", new { priceId = item.PkCode }, null)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

    }
    else
    {
        <div id="home">
            <div class="container">
                <h4 style="color: orangered;">NO TIENES PERMISOS</h4>
            </div>
        </div>
    }
}
