@model IEnumerable<EFoodBLL.IntranetModels.PriceTypeList>

@{
    ViewBag.Title = "Lista de Tipo de Precio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home">
    <div class="container">
        <div class="omb_login">
            <h4 class="omb_authTitle" style="color: orangered;overflow-x:auto;">Lista de Tipo de Precio:</h4>
            @Html.ActionLink("Crear Tipo de Precio", "PriceTypeCreate", "Administration", null, new { @class = "primary-btn" })
            <br />
            <br />
            @Html.ValidationSummary("", new { @class = "ErrorMessage" }) @*Validation Cheked*@
            <table class="table table-hover">
                <tr>
                    <th>
                        <label> @Html.DisplayNameFor(model => model.Code) </label><br />
                    </th>
                    <br />
                    <br />
                    <<th>
                        <label>Opciones</label>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "PriceTypeEdit", "Administration", new {id = item.PkCode}, null) |
                            @Html.ActionLink("Delete", "PriceTypeDelete", "Administration", new {id = item.PkCode}, null)
                        </td>
                    </tr>
                }
                </table>
        </div>
    </div>
</div>