@using EFoodBLL.IntranetModels
@model EFoodBLL.IntranetModels.ReturnPriceType

@{
    ViewBag.Title = "Editar Tipo de Precio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="home">
    <div class="container">
        <div class="omb_login">
            <br />
            @using (Html.BeginForm("PriceTypeEdit", "Administration", null, FormMethod.Post, new { role = "form", @class = "center3" }))
            {
                <h4 style="color: orangered;">Informacion de consecutivo</h4>
                @Html.ValidationSummary("", new { @class = "ErrorMessage" })
                @Html.TextBoxFor(item => item.PkCode, new { @type = "hidden", @readonly = "readonly" })
                <br />
                <label for="Code">Code:</label>
                @Html.TextBoxFor(item => item.Code, new { id = "fname", placeholder = "Code" })
                <br />
                <label for="Description">Type:</label>
                @Html.TextBoxFor(item => item.Type, new { id = "fname", placeholder = "Type" })
                <br />
                <input type="submit" class="primary-btn" value="Guardar" />
                @Html.ActionLink("Volver", "PriceTypeList")
            }
        </div>
    </div>
</div>

<div id="home">
    <!-- container -->


    <div class="container">


        <div class="omb_login">
            </br>
            <form class="center3">
                <div class="row omb_row-sm-offset-3 omb_socialButtons">
                </div>
                <br>
                <h4 style="color: orangered;">Informaci?n del Tipo de Precio</h4>
                </br>
                <label for="fname">C?digo:</label>
                <input type="text" id="fname" name="fname"><br>
                <br>
                <label for="PrefijoInt">Descripci?n:</label>
                <input type="text" id="fname" name="fname"><br>
                <br>
                <input type="submit" class="primary-btn" value="Guardar" />
                @Html.ActionLink("Volver", "PriceTypeList")
            </form>
        </div>

        <!-- /container -->
    </div>
