@model IEnumerable<EFoodBLL.IntranetModels.ErrorList>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home">
    <div class="container">
        <div class="omb_login">
            <h4 class="omb_authTitle" style="color: orangered;overflow-x:auto;">Lista Errores:</h4>
            <br/>
            <br/>    
            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ErrorCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Message)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateTime)
                    </th>
                </tr>
            
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ErrorCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Message)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>