@using EFood_Client.UtilsMethdos
@model EFoodBLL.ClientModels.Check

@{
    ViewBag.Title = "Cheque";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cheque Electronico</h2>
@if (Utils.GetDiscount() != -1)
{
    <label for="Subtotal">Subtotal: @ViewBag.Subtotal</label>
    <br/>
    <label for="Discount">Descuento: @ViewBag.Discount&#37;</label>
    <br/>
    <label for="Total">Total: @ViewBag.Total</label>
    <br/>    
}
else
{
    <label for="Total">Total: @ViewBag.Subtotal</label>
    <br/>
}
@using (Html.BeginForm("MethodCheck", "Pay", null, FormMethod.Post, new {role = "form"}))
{
    @Html.ValidationSummary("", new { @class = "ErrorMessage" })
    
    <div class="input-group">
        <span class="input-group-addon">Numero Cheque <i class="fa fa-lock"></i></span>
        @Html.TextBoxFor(item => item.Number, new {@classs = "form-control", @placeholder = "Numero Cheque"})
    </div>

    <div class="input-group">
        <span class="input-group-addon">Cuenta <i class="fa fa-lock"></i></span>
        @Html.TextBoxFor(item => item.Account, new {@classs = "form-control", @placeholder = "Cuenta"})
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Siguiente</button>
    @Html.ActionLink("Volver", "PayMethod", "Pay")
}
