@using EFood_Client.UtilsMethdos

@{
    ViewBag.Title = "Opcion Pago Efectivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    En esta pantalla no se retorna nada al backend, las unicas acciones son aceptar o cancelar.
 -->

<h2>Opci&oacute;n de pago: Efectivo</h2>

@if (Utils.GetDiscount() != -1)
{
    <div class="form-group">
        <label>Subtotal</label>
        <input type="text" class="form-control" readonly value="@ViewBag.Subtotal">
    </div>
    <div class="form-group">
        <label>Descuento</label>
        <input type="text" class="form-control" readonly value="@ViewBag.Discount">
    </div>
    <div class="form-group">
        <label>Total</label>
        <input type="text" class="form-control" readonly value="@ViewBag.Total">
    </div>

}
else
{
    <div class="form-group">
        <label>Total</label>
        <input type="text" class="form-control" readonly value="@ViewBag.Subtotal">
    </div>
}

@Html.ActionLink("Volver", "PayMethod", null, new { @class = "btn btn-link btn-large" })
@Html.ActionLink("Continuar", "PayPage", null, new { @class = "btn btn-warning btn-large" })