@using EFood_Intranet.Controllers
@model EFoodBLL.IntranetModels.PasswordChange

@{
    ViewBag.Title = "Cambio Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (AppAccount.GetLogin() == null)
{
    <div id="home">
        <div class="container">
            <h4 style="color: orangered;">NO HAS INICIADO SESION</h4>
        </div>
    </div>
}
else
{
    if (AppAccount.HasAdministrationRole() || AppAccount.HasSecurityRole())
    {
        <div id="home">
            <div class="container">
                <div class="omb_login">
                    <br>
                    <h4 class="omb_authTitle" style="color: orangered;">Cambio Contraseña</h4>
                    <div class="row omb_row-sm-offset-3 omb_socialButtons"></div>
                    @using (Html.BeginForm("ChangePasswordEdit", "Security", null, FormMethod.Post, new { @class = "centerCambiopass" }))
                    {
                        @Html.ValidationSummary("", new { @class = "ErrorMessage" })
                        <div>Usuario: @Html.TextBoxFor(item => item.Username, new { @readonly = "readonly" })</div>
                        <div>Contraseña: @Html.TextBoxFor(item => item.ActualPassword)</div>
                        <div>Nueva Contraseña: @Html.TextBoxFor(item => item.NewPassword)</div>
                        <div>Confirmar Nueva Contraseña : @Html.TextBoxFor(item => item.NewPasswordConfirmation)</div>
                        <div><input type="submit" value="Cambiar Contraseña"></div>
                        <div>@Html.ActionLink("Volver", "ChangePasswordUsers")</div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="home">
            <div class="container">
                <h4 style="color: orangered;">NO TIENES PERMISOS</h4>
            </div>
        </div>
    }
}